<header class="header">
        <div>
        <a href='/home'><b>WellDone</b></a> 
        <a href='/account' class="account" style='vertical-align:sub'><i>account</i></a>    
        <a href='/' class="logout" style='vertical-align:sub'><i>logout</i></a> 
        </div>    
</header>