<header class="header">
        <div>
        <a href='/home'><b>WellDone</b></a> 
        <a href='/account' class="account" style='vertical-align:sub'><i>account</i></a>    
        <form method="POST" action="/logout">
            <button class="logout" style='vertical-align:sub; margin-top:1rem'><i>logout</i></button>
        </form> 
        </div>    
</header>

