<header class="header">
        <div class="row">
            <div class="col">
                <a href='/'><b>WellDone</b></a>
            </div>
            <div id="sign-out-profile-div" class="col">
                <a href="/acct/{{sessionUser.email}}" id="account-button" style='vertical-align:sub'>Account</a>
                <form method="POST" action="/logout">
                    <button id="logout-button" style='vertical-align:sub;'>Log out</button>
                </form>
            </div>
        </div>
</header>
