{{> head}}
<div class="navbar">
    <a href="../"">Home</a>
    <a href="http://localhost:3000/posts">Posts</a>
    <a href="http://localhost:3000/login">Login</a>
    <a href="http://localhost:3000/signup">Register</a>
</div>