{{> head}}

{{> header}}


<div class="container">

    <div class="about-hero">
        <h2>About Us</h2>
    </div>

    <div class="team">

        <div class="row">
            <div class="team-member">
                <div class="name-image">
                    <img src="https://i.imgur.com/996NyCo.png" alt="Team profile image" />
                    <h3>JB Wilson</h3>
                </div>
                <p class="bio">
                    After graduating from Adams State University in 2017, JB worked as a recruiter supporting Houston's oil and gas industry. However, he knew that it was only temporary, and that he wanted to have a career that touched his creative side. In October of 2019 he quit his job as a recruiter, and in November 2019 he joined DigitalCrafts' immersive coding bootcamp at The Cannon. In JB's free time he writes music, volunteers as an ice skating coach for children with disabilities, and enjoys a good hike outdoors. If you’re looking for JB, it’s a safe bet he’s at the ice rink, at the gym, or at his desk hammering out walls of code.
                </p>
            </div>

            <div class="team-member">
                <div class="name-image">
                    <img src="https://i.imgur.com/KouM01f.png" alt="Team profile image" />
                    <h3>Eric Jimenez</h3>
                </div>
                <p class="bio">
                    My passion for becoming a software developer all started when I took my first coding class in college. The urge to problem solve and always learning has geared me into where I am today. I strive to make a better tomorrow not only for me for but all. I am excited to continue my process of becoming a great software developer.
                </p>
            </div>
        </div> {{! end of row}}

        <div class="row">
            <div class="team-member">
                <div class="name-image">
                    <img src="https://i.imgur.com/UtJVb4m.png" alt="Team profile image" />
                    <h3>Collin Barlow</h3>
                </div>
                <p class="bio">
                    Dropping out of High School Senior year, I got my GED and tried to go to community college instead, and work a part time job as a sales clerk for my uncle at a driving range. While going to classes I realized why I dropped out of highschool, it didn't fit. The way education is structured in those schools wasn't helpful to me, and so I looked for alternatives and found my self joining the DigitalCrafts bootcamp, fast paced education with more hands on experience, has already proven to be far more agreeable to me. For fun I enjoy playing video games, Dungeons and Dragons, and Reading.
                </p>
            </div>

            <div class="team-member">
                <div class="name-image">
                    <img src="https://i.imgur.com/CoktWRe.jpg" alt="Team profile image" />
                    <h3>Jackie Legacion</h3>
                </div>
                <p class="bio">
                    Jackie first started her coding journey way back during the days of Neopets - creating custom profile pages for her friends and other members of the online community. From there, she moved on to study Art Studio at the University of California, Santa Barbara and later pursued Game Art and Design at the Art Institute of Houston. 
                    <br />
                    <br />
                    After a brief stint in the education sector and a few years as a Designer for a few office furniture businesses, she decided that it was about time she created a career out of her hobby of web design. In August of 2019, she reduced her hours to part-time and started attending the DigitalCrafts' immersive full-stack coding bootcamp and is well on her way to creating the career of her dreams!
                    <br />
                    <br />
                    Her hobbies include travelling, baking, creating/maintaning a variety of Discord bots, and knowing entirely too many bird-related facts!
                </p>
            </div>
        </div> {{! end of row}}
        
    </div> {{! end of team}}

    <div class="spacer"></div>

</div>


{{> footer}}