{{> head}}

{{> header}}


<div class="container">

    <div class="about-hero">
        <h2>About Us</h2>
    </div>

    <div class="team">

        <div class="row">
            <div class="team-member">
                <div class="name-image">
                    <img src="" alt="Team profile image" />
                    <h3>JB Wilson</h3>
                </div>
                <p class="bio">
                </p>
            </div>

            <div class="team-member">
                <div class="name-image">
                    <img src="" alt="Team profile image" />
                    <h3>Eric Jimenez</h3>
                </div>
                <p class="bio">
                </p>
            </div>
        </div> {{! end of row}}

        <div class="row">
            <div class="team-member">
                <div class="name-image">
                    <img src="" alt="Team profile image" />
                    <h3>Collin Barlow</h3>
                </div>
                <p class="bio">
                </p>
            </div>

            <div class="team-member">
                <div class="name-image">
                    <img src="" alt="Team profile image" />
                    <h3>Jackie Legacion</h3>
                </div>
                <p class="bio">
                </p>
            </div>
        </div> {{! end of row}}
        
    </div> {{! end of team}}

</div>


{{> footer}}