<html>
<head>
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Catamaran:200&display=swap" rel="stylesheet">
<link rel='stylesheet' type='text/css' href='/account.css'/>
<link rel='stylesheet' type='text/css' href='/master.css'/>
</head>
<body>

<header class="header">
  <nav>
      <a href='/home'><b>WellDone</b></a>
      <div>
        <a href='/' class="logout" style='vertical-align:sub'><i>logout</i></a>
      </div>
  </nav>
</header>

<div>
<section>
  <h1>Eric Jimenez
    <span><a href='/editprofile'>Edit profile</a></span>
  </h1>
  
</section>

<section>
<h4><a href='/acct?c=Profile'>Profile</a><span><a href='/acct?c=Posts'>Posts</a></span><span><a href='/acct?c=Claps'>Claps</a></span></h4>
</section>
<hr/>

<section class="noscroll">
  <h3>Claps from Eric Jimenez</h3>
  {{#favouritePosts}}
  <div>
    <h3><a href="#">{{post.title}}</a></h3>
    <p><a href="#">{{post.user.name}}</a></p>
  </div>
  {{/favouritePosts}}
  <h3>Posts from Eric Jimenez</h3>
    {{#userPosts}}
    <div>
      <h3><a href="#">{{title}}</a></h3>
      <p><a href="#">{{user.name}}</a></p>
    </div>
    {{/userPosts}}
</section>
</div>
</body>
</html>
