<html>
<head>
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Catamaran:200&display=swap" rel="stylesheet">
<link rel='stylesheet' type='text/css' href='/account.css'/>
<link rel='stylesheet' type='text/css' href='/master.css'/>
</head>
<body>

<header class="header">
  <nav>
      <a href='/home'><b>WellDone</b></a> 
      <div>
        <a href='/' class="logout" style='vertical-align:sub'><i>logout</i></a>
      </div>
  </nav>
</header>

<div>
<section>
  <h1>Eric Jimenez
    <span><a href='/editprofile'>Edit profile</a></span>
  </h1>
  
</section>

<section>
<h4><a href='#'>Profile</a><span><a href='#'>Claps</a></span></h4>
</section>
<hr/>

<section>
<h3>Claps from Eric Jimenez</h3>
</section>
<section class="noscroll">
  <div>
    <h3><a href="#">Title of Blog</a></h3>
    <p><a href="#">Author</a></p>
  </div>
  <div>
    <h3><a href="#">Title of Blog</a></h3>
    <p><a href="#">Author</a></p>
  </div>
  <div>
    <h3><a href="#">Title of Blog</a></h3>
    <p><a href="#">Author</a></p>
  </div>
   <div>
    <h3><a href="#">Title of Blog</a></h3>
    <p><a href="#">Author</a></p>
  </div>
   <div>
    <h3><a href="#">Title of Blog</a></h3>
    <p><a href="#">Author</a></p>
  </div>
  <div>
    <h3><a href="#">Title of Blog</a></h3>
    <p><a href="#">Author</a></p>
  </div>
  <div>
    <h3><a href="#">Title of Blog</a></h3>
    <p><a href="#">Author</a></p>
  </div>
   <div>
    <h3><a href="#">Title of Blog</a></h3>
    <p><a href="#">Author</a></p>
  </div>
  <div>
    <h3><a href="#">Title of Blog</a></h3>
    <p><a href="#">Author</a></p>
  </div>
  <div>
    <h3><a href="#">Title of Blog</a></h3>
    <p><a href="#">Author</a></p>
  </div>
   <div>
    <h3><a href="#">Title of Blog</a></h3>
    <p><a href="#">Author</a></p>
  </div>
  <div>
    <h3><a href="#">Title of Blog</a></h3>
    <p><a href="#">Author</a></p>
  </div>
</section>
</div>
</body>
</html>