<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    Change profile pic:
    <form action="acct/user_image" method="post" enctype="multipart/form-data">
      <input type="file" name="user_image" accept="image/jpeg, image/jpg, image/png">
      <button name="button">submit</button>
    </form>
    <img src="{{userPage.user_image}}" alt="missing"><br>
    Create Post
    <form action="/acct/addPost" method="post" enctype="multipart/form-data">
      <input type="hidden" name="user_id" value="1">
      <input type="file" name="post_image" accept="image/jpeg, image/jpg, image/png">
      {{#categories}}
      <div>
        <input type="checkbox" name="categories" value="{{id}}">
        <label for="huey">{{category}}</label>
      </div>
      {{/categories}}
      <input type="text" name="title"><br>
      <textarea name="body" rows="8" cols="40"></textarea><br>
      <button>Add Post</button>
    </form>
    <ul>
      Your Posts
      {{#userPosts}}
      <li>
        {{#postImage}}
        <img src="{{imageURL}}">
        {{/postImage}}
        {{^postimage}}
        {{/postimage}}
        <h2>{{title}}</h2>
        {{#postswithcategories}}
        <p>{{category.category}}</p>
        {{/postswithcategories}}
        <p>{{body}}</p>
        <p>Comments: {{comment.length}}</p>
        <form action="/acct/updatePost" method="post" enctype="multipart/form-data">
          <input type="file" name="post_image" accept="image/jpeg, image/jpg, image/png">
          <input type="hidden" name="post_id" value="{{id}}">
          <input type="hidden" name="user_id" value="1">
          {{#categories}}
          <div>
            <input type="checkbox" name="categories" value="{{id}}">
            <label for="huey">{{category}}</label>
          </div>
          {{/categories}}
          <input type="text" name="title"><br>
          <textarea name="body" rows="8" cols="40"></textarea><br>
          <button>Update Post</button>
        </form>
        <form action="/acct/deletePost" method="post">
          <input type="hidden" name="post_id" value="{{id}}">
          <button>Delete Post</button>
        </form>
        <form action="/post" method="get">
          <input type="hidden" name="post_id" value="{{id}}">
          <button>Post Page</button>
        </form>
      </li>
      {{/userPosts}}
      {{^userPosts}}
    <li>You Have No Posts</li>
      {{/userPosts}}
    </ul>
    <ul>
      Your Favourites
      {{#favouritePosts}}
      <li>
        <h2>{{post.title}}</h2>
        <p>Comments: {{post.comment.length}}</p>
        <form action="/post" method="post">
          <input type="hidden" name="post_id" value="{{post.id}}">
          <button>Post Page</button>
        </form>
        <form action="/acct/removeFavourite" method="post">
          <input type="hidden" name="favourite_id" value="{{id}}">
          <button>Remove Favourite</button>
        </form>
      </li>
      {{/favouritePosts}}
      {{^favouritePosts}}
      <li>You Have No Favourites</li>
      {{/favouritePosts}}
    </ul>
    {{>footer}}
  </body>
</html>
