<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    Create Post
    <form action="/acct/addPost" method="post">
      <input type="hidden" name="user_id" value="1">
      <input type="text" name="category"><br>
      <input type="text" name="title"><br>
      <textarea name="body" rows="8" cols="40"></textarea><br>
      <button>Add Post</button>
    </form>
    <ul>
      Your Posts
      {{#userPosts}}
      <li>
        <h2>{{title}}</h2>
        <p>{{body}}</p>
        <form action="/acct/updatePost" method="post">
          <input type="hidden" name="post_id" value="{{id}}">
          <input type="hidden" name="user_id" value="1">
          <input type="text" name="category"><br>
          <input type="text" name="title"><br>
          <textarea name="body" rows="8" cols="40"></textarea><br>
          <button>Update</button>
        </form>
        <form action="/acct/deletePost" method="post">
          <input type="hidden" name="post_id" value="{{id}}">
          <button>Delete Post</button>
        </form>
        <form action="/post" method="get">
          <input type="hidden" name="post_id" value="{{id}}">
          <button>Post Page</button>
        </form>
      </li>
      {{/userPosts}}
      {{^userPosts}}
    <li>You Have No Posts</li>
      {{/userPosts}}
    </ul>
    <ul>
      Your Favourites
      {{#favouritePosts}}
      <li>
        <h2>{{post.title}}</h2>
        <form action="/post" method="post">
          <input type="hidden" name="post_id" value="{{post.id}}">
          <button>Post Page</button>
        </form>
        <form action="/acct/removeFavourite" method="post">
          <input type="hidden" name="favouriteId" value="{{id}}">
          <button>Remove Favourite</button>
        </form>
      </li>
      {{/favouritePosts}}
      {{^favouritePosts}}
      <li>You Have No Favourites</li>
      {{/favouritePosts}}
    </ul>
  </body>
</html>
