{{> head}}

<!--HEADER-->

{{> header}}

<!--CATEGORY SCROLL BAR-->

{{> carousel}}
<div id='category'></div>
<!--ARTICLE TITLE-->
{{#post}}
<div class="row d-flex py-3"></div>

<div class="row d-flex">
    <div id="articles-category" class="col">
        <h1 id="category-title-text" class="text-light">{{title}}</h1>

        <p id="author-article-text"><a href='/author?a=JB_Wilson'>
            {{user.name}}</a>
        </p>
        <img class="img-fluid" src="{{postImage.imageURL}}">
    </div>
</div>

<div class="row d-flex py-3"></div>

<!--HORIZONTAL LINE-->

<div class="row d-flex">
    <hr class="article-hr">
</div>

<div class="row d-flex py-3"></div>

<!--BLOG LIST START-->

<div class="row d-flex">
<div id="blog-column" class="col">
    <p>
        {{body}}
    </p>

    <p class="post-secondary-text text-light">
        <span id="article-like"><i class="heart fa fa-heart-o" ></i></span> {99} likes
    </p>
    <form action="/article/addComment" method="post">
      <input type="hidden" name="user_id" value="{{sessionUser.id}}">
      <input type="hidden" name="post_id" value="{{post.id}}">
      <textarea name="body" rows="8" cols="40"></textarea><br>
      <button>Add Comment</button>
    </form>
    Comments
    {{#comment}}
    <li>
      <p>{{body}}</p>
      <p>{{user.name}}</p>
      <p>{{createdAt}}</p>
      <form action="/post/updateComment" method="post" {{hidden}}>
        <input type="hidden" name="comment_id" value="{{id}}">
        <input type="hidden" name="user_id" value="{{user_id}}">
        <textarea name="body" rows="8" cols="40"></textarea><br>
        <button>Update Comment</button>
      </form>
      <form action="/post/deleteComment" method="post" {{hidden}}>
        <input type="hidden" name="comment_id" value="{{id}}">
        <button>Delete Comment</button>
      </form>
    </li>
    {{/comment}}
    {{^comment}}
    <li>This Post Has No Comments</li>
    {{/comment}}
</div>
</div>
{{/post}}


<div class="row d-flex py-3"></div>

<!--FOOTER-->

{{> footer}}
