{{> head}}

<!--HEADER-->

{{> header}}

<!--CATEGORY SCROLL BAR-->

{{> carousel}}
<!--ARTICLE TITLE-->

{{#post}}

<div class="row d-flex py-3"></div>

<div class="row d-flex">
    <div id="articles-category" class="col">
        <h1 id="category-title-text" class="text-light">{{title}}</h1>

        <p id="author-article-text"><a href='/acct/{{user.email}}'>
            {{user.name}}</a>
        </p>
        <img class="img-fluid" src="{{postImage.imageURL}}">
    </div>
</div>

<div class="row d-flex py-3"></div>

<!--HORIZONTAL LINE-->

<div class="row d-flex">
    <hr class="article-hr">
</div>

<div class="row d-flex py-3"></div>

<!--ARTICLE BODY START-->

<div class="row d-flex">
  <div id="blog-column" class="col">
      <p>
          {{body}}
      </p>

      <p class="post-secondary-text text-light">
          <span id="article-like">
            <form method="POST" action="/notify">
                <input type="hidden" name="postId" value={{post.id}} />
                <input type="hidden" name="type" value="like" />
                <input type="hidden" name="ownerId" value="{{post.user_id}}" />
                <button class="heart" {{sessionUser.hideAdd}}><i class="heart fa fa-heart-o" ></i></button>
            </form>
            <form method="POST" action="/acct/removeFavourite">
                <input type="hidden" name="favourite_id" value="{{post.liked.id}}">
                <button class="heart" {{sessionUser.hideRemove}}><i class="heart fa fa-heart" ></i></button>
            </form>
          </span> {{post.likes.length}} likes
      </p>

<!--ADD COMMENT-->

  <div class="row d-flex">
      <hr class="article-hr">
  </div>

  <div class="row d-flex py-3">
    <h4 id="comments-text">Comments</h4>
  </div>

  <div id="comment-form-div" class="form-group">
    <form action="/article/addComment" method="post">
      <input type="hidden" name="user_id" value="{{sessionUser.id}}">
      <input type="hidden" name="post_id" value="{{post.id}}">
      <input type="hidden" name="ownerId" value={{post.user_id}} />
      <input type="hidden" name="type" value="comment" />
      <input type="hidden" name="user_name" value="{{sessionUser.name}}">
      <textarea class="form-control comment-textbox" name="body" rows="4" cols="80"></textarea>
      <div id="add-comment-button-div">
        <button id="add-comment-button">Comment</button>
      </div>
    </form>
  </div>

<!--COMMENTS START-->

      {{#comment}}
        <div class="form-group">
          <a href="/acct/{{user.email}}"><span class="username-comment"><b>{{user.name}}</b></span>, on <span class="date-comment">{{createdAt}}</span></a>
          <p class="body-comment">{{body}}</p>
          <div class="edit-comments">
            <button id="show-hide-edit" class="edit-comment-buttons">Edit</button>
            <div class="update-comment" id="revise-comment">
              <form action="/article/updateComment" method="post" {{hidden}}>
                <input type="hidden" name="comment_id" value="{{id}}">
                <input type="hidden" name="user_id" value="{{user_id}}">
                <input type="hidden" name="user_name" value="{{user.name}}">
                <textarea class="form-control comment-textbox" name="body" rows="1" cols="80"></textarea>
                <div class="comment-buttons-div-end">
                  <button class="edit-comment-buttons">Submit</button>
                </div>
              </form>
            </div>
            <div class="delete-comment">
              <form action="/article/deleteComment" method="post" {{hidden}}>
                <input type="hidden" name="comment_id" value="{{id}}">
                <div class="comment-buttons-div-end pb-5">
                  <button class="edit-comment-buttons">Remove</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      {{/comment}}

      {{^comment}}
        <p>No one has commented on this article yet. Be the first!</p>
      {{/comment}}

  </div>
</div>

{{/post}}


<div class="row d-flex py-3"></div>

<!--FOOTER-->
<script src="/heart.js"></script>
<script src="/datesplit.js"></script>
<script>
  let showHideEditBtn = document.getElementById("show-hide-edit");
  let revise = document.getElementById("revise-comment");

  revise.style.display = "none";

  showHideEditBtn.addEventListener("click", () => {
    revise.style.display = "block";
  })
</script>

{{> footer}}
