<html>
<head>
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Catamaran:200&display=swap" rel="stylesheet">
<link rel='stylesheet' type='text/css' href='/blogpage.css'/>

</head>
<body>

<header class="header">
  <nav>
      <a href='#'><b>WellDone</b></a> 
      <div>
         <a href='#' class="logout" style='vertical-align:sub'><i>logout</i></a>
      </div>
  </nav>
</header>