{{> head}}

<!--HEADER-->

{{> header}}

<!--CATEGORY SCROLL BAR-->

{{> carousel}}
<div id="category"></div>
<!--HORIZONTAL LINE-->

<div class="row d-flex py-3">
    <hr class="article-hr text-light">
</div>

<!--BLOG LIST START-->
<div class="row d-flex">
<div id="blog-column" class="col">
{{#allPost}}
<div class="row d-flex">
    <div class="col-6">
        <p class="post-title-text"><a href='article?art=2'>
            {{post.id}}</a>
        </p>
        <p class="text-light post-secondary-text">
            {One of the best life hacks for making yourself more likeable is showing your hands at all times. Why is this? Well back before the internet, when humans were evolving...}
        </p>
        <div class="row d-flex">
            <div class="col-10">
                <p class="author-text"><a href='/author?a={{user.name}}'>
                    {{user.name}}</a>
                </p>            
                <p class="post-secondary-text text-light">
                    {Jan 5, 2020}<span> - 8 min read <span><i class="heart fa fa-heart-o"></i><span></span>
                </p>
            </div>
        </div>
    </div>
     <div class="col-6 post-image">
        <img src="./images/pcImage.jpg">
    </div>
</div>
<div class="row d-flex py-3"></div>
{{/allPost}}

</div>
</div>

<div class="row d-flex py-3"></div>

<!--FOOTER-->
<script src="./heart.js"></script>
<script src="./datesplit.js"></script>
<script src="./opener.js"></script> 
{{> footer}}
