{{> head}}

<!--HEADER-->

{{> header}}

<!--CATEGORY SCROLL BAR-->

{{> carousel}}
{{#category}}
<div id="category">{{category}}</div>
{{/category}}
<!--HORIZONTAL LINE-->

<div class="row d-flex py-3">
    <hr class="article-hr text-light">
</div>

<!--BLOG LIST START-->
<div class="row d-flex">
<div id="blog-column" class="col">


{{#category.postswithcategories}}
<div class="row d-flex">
    <div class="col-6">
        {{#post}}
        <p class="post-title-text"><a href='/article/{{id}}'>{{title}}</a></p>
        <p class="text-light post-secondary-text opener">{{body}}</p>
        <div class="row d-flex">
            <div class="col-10">
            {{#user}}
                <p class="author-text"><a href="/acct/{{email}}">
                    {{name}}</a><span>
                </span></p>
                {{/user}}
                <p class="post-secondary-text text-light">
                <div class="datesplit">
                    {{createdAt}}</div>
                    <span>
                        <form method="POST" action="/notify">
                            <input type="hidden" name="postId" value="{{id}}" />
                            <input type="hidden" name="type" value="like" />
                            <input type="hidden" name="ownerId" value="{{user_id}}" />

                            <button class="heart-buttons" {{hideAdd}}><i class="heart fa fa-heart-o" ></i></button>

                        </form>
                        <form method="POST" action="/acct/removeFavourite">
                            <input type="hidden" name="favourite_id" value="{{liked.id}}">
                            <button class="heart" {{hideRemove}}><i class="heart fa fa-heart" ></i></button>
                        </form>
                    </span>{{likes.length}} likes
                </p>

            </div>
        </div>
    </div>
     <div class="col-6 post-image">
        <img src="{{postImage.imageURL}}" onerror=this.src="/post_images/defaultImage.png">
    </div>
</div>
<div class="row d-flex py-3"></div>
        {{/post}}
{{/category.postswithcategories}}

</div>
</div>

<div class="row d-flex py-3"></div>

<!--FOOTER-->
{{> footer}}
<script src="/opener.js"></script>
<script src="/heart.js"></script>
<script src="/datesplit.js"></script>
