<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="./bootstrap.css">
        <link rel="stylesheet" type="text/css" href="./styles.css">
        <link rel="stylesheet" type="text/css" href="./mastercss.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.css" integrity="sha256-a2tobsqlbgLsWs7ZVUGgP5IvWZsx8bTNQpzsqCSm5mk=" crossorigin="anonymous" />
    </head>
    <body>

<div class="container-fluid">
<div class="row d-flex justify-content-center">
<div id="desktop-container-outer-space" class="col-12 col-md-10">

<!--HEADER-->

<header class="header">
        <div>
        <a href='#'><b>WellDone</b></a> 
          <a href='#' class="logout" style='vertical-align:sub'><i>Sign In</i></a>
          <a href='#' class="logout" style='vertical-align:sub'><i>Login</i></a>
        
        </div>    
</header>

<div id="carousel" class="container-fluid navbar navbar-expand-md navbar-dark">
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div id="navbarTogglerDemo02" class="carousel slide abreast collapse navbar-collapse" data-ride="carousel">
      {{! <ol class="carousel-indicators">
        <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-1" data-slide-to="1"></li>
        <li data-target="#carousel-1" data-slide-to="2"></li>
      </ol> }}  
      <ul class="carousel-inner navbar-nav mr-auto mt-2 mt-lg-0" role="listbox" >
        <div class="item active">
            <a class="nav-link nav-button text-light" href="#">ONEZERO</a>
        </div>
        <div class="item">
            <a class="nav-link nav-button text-light" href="#">ELEMENTAL</a>
        </div>
        <div class="item">
            <a class="nav-link nav-button text-light" href="#">ZEN</a>
        </div>
        <div class="item">
            <a class="nav-link nav-button text-light" href="#">FORGE</a>
        </div>
        <div class="item">
            <a class="nav-link nav-button text-light" href="#">HUMAN PARTS</a>
        </div>
        <div class="item">
            <a class="nav-link nav-button text-light" href="#">HEATED</a>
        </div>
        <div class="item">
            <a class="nav-link nav-button text-light" href="#">MODUS</a>
        </div>
        <div class="item">
            <a class="nav-link nav-button text-light" href="#">ZORA</a>
        </div>
        <div class="item">
            <a class="nav-link nav-button text-light" href="#">MORE</a>
        </div>
        <div class="item">
            <a class="nav-link nav-button text-light" href="#">ENTITIES</a>
        </div>
        <div class="item">
            <a class="nav-link nav-button text-light" href="#">WATER</a>
        </div>
        <div class="item">
            <a class="nav-link nav-button text-light" href="#">CAFFEINE</a>
        </div>
        <div class="item">
            <a class="nav-link nav-button text-light" href="#">SHRUG</a>
        </div>
      </ul>
      <a class="left carousel-control" href="#carousel-1" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span><span class="sr-only">Previous</span></a>
      <a class="right carousel-control" href="#carousel-1" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><span class="sr-only">Next</span></a>
    </div>
</div>


<!--LATEST BLOGS-->

<div class="row d-flex py-3"></div>

<div class="row d-flex">
    <div id="articles-category" class="col">
        <a class="text-light" href="#"><b>{Latest Blogs}</b></a>
    </div>
</div>

<div class="row d-flex py-5">
    <hr class="article-hr text-light">
</div>

<!--BLOG LIST START-->

<div class="row d-flex">
<div class="col" id="blog-column">

<div class="row d-flex">
    <div class="col-8">
        <p class="post-title-text">
            {What Your Body Is Saying Says The Most About You}
        </p>
        <p class="text-light post-secondary-text">
            {One of the best life hacks for making yourself more likeable is showing your hands at all times. Why is this? Well back before the internet, when humans were evolving...}
        </p>
        <div class="row d-flex">
            <div class="col-10">
                <p class="author-category-text">
                    {JB Wilson} in {Entities}
                </p>
                <p class="post-secondary-text text-light">
                    {Jan 5, 2020} - 8 min read <span class="favortie-article-heart">&hearts;</span>
                </p>
            </div>
        </div>
    </div>
     <div class="col-4 post-image">
        <img src="./images/pcImage.jpg">
    </div>
</div>

<div class="row d-flex py-3"></div>

<div class="row d-flex">
    <div class="col-8">
        <p class="post-title-text">
            {Post Title}
        </p>
        <p class="text-light post-secondary-text">
            {Post Opener}
        </p>
        <div class="row d-flex">
            <div class="col-10">
                <p class="author-category-text">
                    {Author} in {Category}
                </p>
                <p class="post-secondary-text text-light">
                    {createdAt} - 8 min read <span class="favortie-article-heart">&hearts;</span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-4 post-image">
        <img src="./images/pcImage.jpg">
    </div>
</div>

<div class="row d-flex py-3"></div>

<div class="row d-flex">
    <div class="col-8">
        <p class="post-title-text">
            {Post Title}
        </p>
        <p class="text-light post-secondary-text">
            {Post Opener}
        </p>
        <div class="row d-flex">
            <div class="col-10">
                <p class="author-category-text">
                    {Author} in {Category}
                </p>
                <p class="post-secondary-text text-light">
                    {createdAt} - 8 min read <span class="favortie-article-heart">&hearts;</span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-4 post-image">
        <img src="./images/pcImage.jpg">
    </div>
</div>

<div class="row d-flex py-3"></div>

<div class="row d-flex">
    <div class="col-8">
        <p class="post-title-text">
            {Post Title}
        </p>
        <p class="text-light post-secondary-text">
            {Post Opener}
        </p>
        <div class="row d-flex">
            <div class="col-10">
                <p class="author-category-text">
                    {Author} in {Category}
                </p>
                <p class="post-secondary-text text-light">
                    {createdAt} - 8 min read <span class="favortie-article-heart">&hearts;</span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-4 post-image">
        <img src="./images/pcImage.jpg">
    </div>
</div>

<div class="row d-flex py-3"></div>

<div class="row d-flex">
    <div class="col-8">
        <p class="post-title-text">
            {Post Title}
        </p>
        <p class="text-light post-secondary-text">
            {Post Opener}
        </p>
        <div class="row d-flex">
            <div class="col-10">
                <p class="author-category-text">
                    {Author} in {Category}
                </p>
                <p class="post-secondary-text text-light">
                    {createdAt} - 8 min read <span class="favortie-article-heart">&hearts;</span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-4 post-image">
        <img src="./images/pcImage.jpg">
    </div>
</div>

<div class="row d-flex py-3"></div>

<div class="row d-flex">
    <div class="col-8">
        <p class="post-title-text">
            {Post Title}
        </p>
        <p class="text-light post-secondary-text">
            {Post Opener}
        </p>
        <div class="row d-flex">
            <div class="col-10">
                <p class="author-category-text">
                    {Author} in {Category}
                </p>
                <p class="post-secondary-text text-light">
                    {createdAt} - 8 min read <span class="favortie-article-heart">&hearts;</span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-4 post-image">
        <img src="./images/pcImage.jpg">
    </div>
</div>

<div class="row d-flex py-3"></div>

<div class="row d-flex">
    <div class="col-8">
        <p class="post-title-text">
            {Post Title}
        </p>
        <p class="text-light post-secondary-text">
            {Post Opener}
        </p>
        <div class="row d-flex">
            <div class="col-10">
                <p class="author-category-text">
                    {Author} in {Category}
                </p>
                <p class="post-secondary-text text-light">
                    {createdAt} - 8 min read <span class="favortie-article-heart">&hearts;</span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-4 post-image">
        <img src="./images/pcImage.jpg">
    </div>
</div>

<div class="row d-flex py-3"></div>

<div class="row d-flex">
    <div class="col-8">
        <p class="post-title-text">
            {Post Title}
        </p>
        <p class="text-light post-secondary-text">
            {Post Opener}
        </p>
        <div class="row d-flex">
            <div class="col-10">
                <p class="author-category-text">
                    {Author} in {Category}
                </p>
                <p class="post-secondary-text text-light">
                    {createdAt} - 8 min read <span class="favortie-article-heart">&hearts;</span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-4 post-image">
        <img src="./images/pcImage.jpg">
    </div>
</div>

</div>
</div>

<div class="row d-flex py-3"></div>

<div id="footer" class="row d-flex py-3">
    <p id="with-love">
        Made with <span id="footer-heart">&hearts;</span> by Jackie, JB, Eric, Angelo, and Collin
    </p>
</div>





</div>
</div>
</div>

    </body>
    <script src="./bootstrap-scripts/jquery.js"></script>
    <script src="./bootstrap-scripts/popper.js"></script>
    <script src="./bootstrap-scripts/bootstrap.js"></script>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</html>
