<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="./bootstrap.css">
        <link rel="stylesheet" type="text/css" href="./styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.css" integrity="sha256-a2tobsqlbgLsWs7ZVUGgP5IvWZsx8bTNQpzsqCSm5mk=" crossorigin="anonymous" />
    </head>
    <body>

<div class="container-fluid">
<div class="row d-flex justify-content-center">
<div id="desktop-container-outer-space" class="col-12 col-md-7">

<!--HEADER-->

<div id="header-margin-top" class="row d-flex justify-content-center">
    <div class="col">
        <a class="nav-link active text-body" id="welldone-logo" href="#">Welldone</a>
        <a class="nav-link active text-body" id="welldone-letter-logo" href="#">W</a>
    </div>
    <div class="row d-flex">
        <div class="col nav-links-mobile">
            <form class="form-inline">
                <input class="form-control mr-sm-2" id="searchbar" type="search" placeholder="Search" aria-label="Search">
                <button id="search-glass-button" type="submit"><img id="searchglass" src="images/iconfinder_magnifying-glass_226571.png"></button>
            </form>
        </div>
            <a class="nav-link text-light nav-links-mobile-hidden nav-links-text" href="#">Become a member</a>
            <a class="nav-link text-light nav-links-mobile-hidden nav-links-text" href="#">Sign In</a>
            <a id="get-started-button" class="nav-link text-success nav-links-text" href="#">Get started</a>
    </div>
</div>

<!--CAROUSEL NAV BAR-->

<div id="carousel" class="container-fluid">
    <div id="carousel-1" class="carousel slide abreast" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-1" data-slide-to="1"></li>
        <li data-target="#carousel-1" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
            <a class="nav-link nav-button" href="#">ONEZERO</a>
        </div>
        <div class="item">
            <a class="nav-link nav-button" href="#">ELEMENTAL</a>
        </div>
        <div class="item">
            <a class="nav-link nav-button" href="#">ZEN</a>
        </div>
        <div class="item">
            <a class="nav-link nav-button" href="#">FORGE</a>
        </div>
        <div class="item">
            <a class="nav-link nav-button" href="#">HUMAN PARTS</a>
        </div>
        <div class="item">
            <a class="nav-link nav-button" href="#">HEATED</a>
        </div>
        <div class="item">
            <a class="nav-link nav-button" href="#">MODUS</a>
        </div>
        <div class="item">
            <a class="nav-link nav-button" href="#">ZORA</a>
        </div>
        <div class="item">
            <a class="nav-link nav-button" href="#">MORE</a>
        </div>
        <div class="item">
            <a class="nav-link nav-button" href="#">ENTITIES</a>
        </div>
        <div class="item">
            <a class="nav-link nav-button" href="#">WATER</a>
        </div>
        <div class="item">
            <a class="nav-link nav-button" href="#">CAFFEINE</a>
        </div>
        <div class="item">
            <a class="nav-link nav-button" href="#">SHRUG</a>
        </div>
      </div>
      <a class="left carousel-control" href="#carousel-1" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span><span class="sr-only">Previous</span></a>
      <a class="right carousel-control" href="#carousel-1" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><span class="sr-only">Next</span></a>
    </div>
</div>

    <div class="row d-flex py-3"></div>

<!--LATEST BLOGS-->

<div class="row d-flex py-3"></div>

<div class="row d-flex">
    <div id="articles-category" class="col-9">
        <a class="text-body" href="#"><b>{{Latest Blogs}}</b></a>
    </div>
</div>
<div class="row d-flex">
    <hr class="article-hr">
</div>

<div class="row d-flex">
    <div class="col-8">
        <p class="post-title-text">
            {{Post Title}}
        </p>
        <p class="text-light post-secondary-text">
            {{Post Opener}}
        </p>
        <div class="row d-flex">
            <div class="col-10">
                <p class="author-category-text">
                    {{Author}} in {{Category}}
                </p>
                <p class="post-secondary-text text-light">
                    {{createdAt}} - 8 min read <span class="favortie-article-heart">&hearts;</span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <img src="./images/pcImage.jpg">
    </div>
</div>

<div class="row d-flex py-3"></div>

<div class="row d-flex">
    <div class="col-8">
        <p class="post-title-text">
            {{Post Title}}
        </p>
        <p class="text-light post-secondary-text">
            {{Post Opener}}
        </p>
        <div class="row d-flex">
            <div class="col-10">
                <p class="author-category-text">
                    {{Author}} in {{Category}}
                </p>
                <p class="post-secondary-text text-light">
                    {{createdAt}} - 8 min read <span class="favortie-article-heart">&hearts;</span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <img src="./images/pcImage.jpg">
    </div>
</div>

<div class="row d-flex py-3"></div>

<div class="row d-flex">
    <div class="col-8">
        <p class="post-title-text">
            {{Post Title}}
        </p>
        <p class="text-light post-secondary-text">
            {{Post Opener}}
        </p>
        <div class="row d-flex">
            <div class="col-10">
                <p class="author-category-text">
                    {{Author}} in {{Category}}
                </p>
                <p class="post-secondary-text text-light">
                    {{createdAt}} - 8 min read <span class="favortie-article-heart">&hearts;</span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <img src="./images/pcImage.jpg">
    </div>
</div>

<div class="row d-flex py-3"></div>

<div class="row d-flex">
    <div class="col-8">
        <p class="post-title-text">
            {{Post Title}}
        </p>
        <p class="text-light post-secondary-text">
            {{Post Opener}}
        </p>
        <div class="row d-flex">
            <div class="col-10">
                <p class="author-category-text">
                    {{Author}} in {{Category}}
                </p>
                <p class="post-secondary-text text-light">
                    {{createdAt}} - 8 min read <span class="favortie-article-heart">&hearts;</span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <img src="./images/pcImage.jpg">
    </div>
</div>

<div class="row d-flex py-3"></div>

<div class="row d-flex">
    <div class="col-8">
        <p class="post-title-text">
            {{Post Title}}
        </p>
        <p class="text-light post-secondary-text">
            {{Post Opener}}
        </p>
        <div class="row d-flex">
            <div class="col-10">
                <p class="author-category-text">
                    {{Author}} in {{Category}}
                </p>
                <p class="post-secondary-text text-light">
                    {{createdAt}} - 8 min read <span class="favortie-article-heart">&hearts;</span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <img src="./images/pcImage.jpg">
    </div>
</div>

<div class="row d-flex py-3"></div>

<div class="row d-flex">
    <div class="col-8">
        <p class="post-title-text">
            {{Post Title}}
        </p>
        <p class="text-light post-secondary-text">
            {{Post Opener}}
        </p>
        <div class="row d-flex">
            <div class="col-10">
                <p class="author-category-text">
                    {{Author}} in {{Category}}
                </p>
                <p class="post-secondary-text text-light">
                    {{createdAt}} - 8 min read <span class="favortie-article-heart">&hearts;</span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <img src="./images/pcImage.jpg">
    </div>
</div>

<div class="row d-flex py-3"></div>

<div class="row d-flex">
    <div class="col-8">
        <p class="post-title-text">
            {{Post Title}}
        </p>
        <p class="text-light post-secondary-text">
            {{Post Opener}}
        </p>
        <div class="row d-flex">
            <div class="col-10">
                <p class="author-category-text">
                    {{Author}} in {{Category}}
                </p>
                <p class="post-secondary-text text-light">
                    {{createdAt}} - 8 min read <span class="favortie-article-heart">&hearts;</span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <img src="./images/pcImage.jpg">
    </div>
</div>

<div class="row d-flex py-3"></div>

<div class="row d-flex">
    <div class="col-8">
        <p class="post-title-text">
            {{Post Title}}
        </p>
        <p class="text-light post-secondary-text">
            {{Post Opener}}
        </p>
        <div class="row d-flex">
            <div class="col-10">
                <p class="author-category-text">
                    {{Author}} in {{Category}}
                </p>
                <p class="post-secondary-text text-light">
                    {{createdAt}} - 8 min read <span class="favortie-article-heart">&hearts;</span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <img src="./images/pcImage.jpg">
    </div>
</div>

<div class="row d-flex py-3"></div>

<div id="footer" class="row d-flex py-3">
    <p id="with-love">
        Made with <span id="footer-heart">&hearts;</span> by Jackie, JB, Eric, Angelo, and Collin
    </p>
</div>






</div>
</div>
</div>
    </body>
    <script src="./bootstrap-scripts/jquery.js"></script>
    <script src="./bootstrap-scripts/popper.js"></script>
    <script src="./bootstrap-scripts/bootstrap.js"></script>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</html>
