{{head}}

<div class="container-fluid">
<div class="row d-flex justify-content-center">
<div id="desktop-container-outer-space" class="col-12 col-md-7">

<!--HEADER-->

<div id="header-margin-top" class="row d-flex justify-content-center">
    <div class="col">
        <a class="nav-link active text-body" id="welldone-logo" href="#">Welldone</a>
        <a class="nav-link active text-body" id="welldone-letter-logo" href="#">W</a>
    </div>
    <div class="row d-flex">
        <div class="col nav-links-mobile">
            <form class="form-inline">
                <input class="form-control mr-sm-2" id="searchbar" type="search" placeholder="Search" aria-label="Search">
                <button type="submit"><img id="searchglass" src="./images/iconfinder_magnifying-glass_226571.png"></button>
            </form>
        </div>
            <a class="nav-link text-secondary nav-links-mobile-hidden" href="#">Become a member</a>
            <a class="nav-link text-success nav-links-mobile-hidden" href="#">Sign In</a>
            <a id="get-started-button" class="nav-link text-success" href="#">Get started</a>
    </div>
</div>

<!--CAROUSEL NAV BAR-->

<div id="carousel" class="container-fluid">
    <div id="carousel-1" class="carousel slide abreast" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-1" data-slide-to="1"></li>
        <li data-target="#carousel-1" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
            <a class="nav-link text-muted" href="#">ONEZERO</a>
        </div>
        <div class="item">
            <a class="nav-link text-secondary" href="#">ELEMENTAL</a>
        </div>
        <div class="item">
            <a class="nav-link text-secondary" href="#">ZEN</a>
        </div>
        <div class="item">
            <a class="nav-link text-secondary" href="#">FORGE</a>
        </div>
        <div class="item">
            <a class="nav-link text-secondary" href="#">HUMAN PARTS</a>
        </div>
        <div class="item">
            <a class="nav-link text-secondary" href="#">HEATED</a>
        </div>
        <div class="item">
            <a class="nav-link text-secondary" href="#">MODUS</a>
        </div>
        <div class="item">
            <a class="nav-link text-secondary" href="#">ZORA</a>
        </div>
        <div class="item">
            <a class="nav-link text-secondary" href="#">MORE</a>
        </div>
      </div>
      <a class="left carousel-control" href="#carousel-1" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span><span class="sr-only">Previous</span></a>
      <a class="right carousel-control" href="#carousel-1" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><span class="sr-only">Next</span></a>
    </div>
</div>

    <div class="row d-flex py-3"></div>


<!--CALL TO ACTION, DESKTOP-->

  <div id="call-to-action-desktop" class="row bg-light">
      <div class="col">
        <img class="img-fluid" src="./images/welldonesteak.jpg">
      </div>
      <div class="col py-5">
        <h1>Never miss a story</h1>
        <p class="text-secondary">Sign up for Welldone’s Daily Digest and get the best of Welldone, tailored for you. Yum!</p>
        <form>
            <div class="form-group row d-flex">
              <input type="email" class="email-line" placeholder="Email Address">
              <button class="btn btn-dark mx-5" type="submit">Sign Up</button>
            </div>
        </form>
      </div>
  </div>

<!--CALL TO ACTION, MOBILE-->

<div id="call-to-action-mobile" class="row bg-light">
    <div class="col">
      <img class="img-fluid" src="./images/welldonesteak.jpg">
      <h1>Never miss a story</h1>
      <p class="text-secondary">Sign up for Welldone’s Daily Digest and get the best of Welldone, tailored for you. Yum!</p>
      <form>
          <div class="form-inline" id="email-row-mobile">
            <input type="email" class="email-line" placeholder="Email Address">
            <button class="btn btn-dark mb-2" type="submit">Sign Up</button>
          </div>
      </form>
    </div>
</div>

<!--TECHNOLOGY-->

<div class="row d-flex py-3"></div>

<div class="row d-flex">
    <div id="articles-category" class="col-9">
        <a class="text-body" href="#"><b>Technology</b></a>
    </div>
    <div class="col-3">
        <a class="text-secondary" href="#">More ></a>
    </div>
</div>
<div class="row d-flex">
    <hr class="article-hr">
</div>

<div class="row d-flex">
    <div class="col-8">
        <p class="post-title-text">
            {{Post Title}}
        </p>
        <p class="text-secondary post-secondary-text">
            {{Post Opener}}
        </p>
        <div class="row d-flex">
            <div class="col-10">
                <p class="author-category-text">
                    {{Author}} in {{Category}}
                </p>
                <p class="post-secondary-text text-secondary">
                    {{createdAt}} - 8 min read <span class="favortie-article-heart">&hearts;</span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <img src="./images/pcImage.jpg">
    </div>
</div>

<div class="row d-flex py-3"></div>

<div class="row d-flex">
    <div class="col-8">
        <p class="post-title-text">
            {{Post Title}}
        </p>
        <p class="text-secondary post-secondary-text">
            {{Post Opener}}
        </p>
        <div class="row d-flex">
            <div class="col-10">
                <p class="author-category-text">
                    {{Author}} in {{Category}}
                </p>
                <p class="post-secondary-text text-secondary">
                    {{createdAt}} - 8 min read <span class="favortie-article-heart">&hearts;</span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <img src="./images/pcImage.jpg">
    </div>
</div>

<div class="row d-flex py-3"></div>

<!--STARTUPS-->

<div class="row d-flex">
    <div id="articles-category" class="col-9">
        <a class="text-body" href="#"><b>Startups</b></a>
    </div>
    <div class="col-3">
        <a class="text-secondary" href="#">More ></a>
    </div>
</div>
<div class="row d-flex">
    <hr class="article-hr">
</div>

<div class="row d-flex">
    <div class="col-8">
        <p class="post-title-text">
            {{Post Title}}
        </p>
        <p class="text-secondary post-secondary-text">
            {{Post Opener}}
        </p>
        <div class="row d-flex">
            <div class="col-10">
                <p class="author-category-text">
                    {{Author}} in {{Category}}
                </p>
                <p class="post-secondary-text text-secondary">
                    {{createdAt}} - 8 min read <span class="favortie-article-heart">&hearts;</span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <img src="./images/pcImage.jpg">
    </div>
</div>

<div class="row d-flex py-3"></div>

<div class="row d-flex">
    <div class="col-8">
        <p class="post-title-text">
            {{Post Title}}
        </p>
        <p class="text-secondary post-secondary-text">
            {{Post Opener}}
        </p>
        <div class="row d-flex">
            <div class="col-10">
                <p class="author-category-text">
                    {{Author}} in {{Category}}
                </p>
                <p class="post-secondary-text text-secondary">
                    {{createdAt}} - 8 min read <span class="favortie-article-heart">&hearts;</span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <img src="./images/pcImage.jpg">
    </div>
</div>

<div class="row d-flex py-3"></div>

<!--CREATIVITY-->

<div class="row d-flex">
    <div id="articles-category" class="col-9">
        <a class="text-body" href="#"><b>Creativity</b></a>
    </div>
    <div class="col-3">
        <a class="text-secondary" href="#">More ></a>
    </div>
</div>
<div class="row d-flex">
    <hr class="article-hr">
</div>

<div class="row d-flex">
    <div class="col-8">
        <p class="post-title-text">
            {{Post Title}}
        </p>
        <p class="text-secondary post-secondary-text">
            {{Post Opener}}
        </p>
        <div class="row d-flex">
            <div class="col-10">
                <p class="author-category-text">
                    {{Author}} in {{Category}}
                </p>
                <p class="post-secondary-text text-secondary">
                    {{createdAt}} - 8 min read <span class="favortie-article-heart">&hearts;</span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <img src="./images/pcImage.jpg">
    </div>
</div>

<div class="row d-flex py-3"></div>

<div class="row d-flex">
    <div class="col-8">
        <p class="post-title-text">
            {{Post Title}}
        </p>
        <p class="text-secondary post-secondary-text">
            {{Post Opener}}
        </p>
        <div class="row d-flex">
            <div class="col-10">
                <p class="author-category-text">
                    {{Author}} in {{Category}}
                </p>
                <p class="post-secondary-text text-secondary">
                    {{createdAt}} - 8 min read <span class="favortie-article-heart">&hearts;</span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <img src="./images/pcImage.jpg">
    </div>
</div>

<div class="row d-flex py-3"></div>

<!--CULTURE-->

<div class="row d-flex">
    <div id="articles-category" class="col-9">
        <a class="text-body" href="#"><b>Culture</b></a>
    </div>
    <div class="col-3">
        <a class="text-secondary" href="#">More ></a>
    </div>
</div>
<div class="row d-flex">
    <hr class="article-hr">
</div>

<div class="row d-flex">
    <div class="col-8">
        <p class="post-title-text">
            {{Post Title}}
        </p>
        <p class="text-secondary post-secondary-text">
            {{Post Opener}}
        </p>
        <div class="row d-flex">
            <div class="col-10">
                <p class="author-category-text">
                    {{Author}} in {{Category}}
                </p>
                <p class="post-secondary-text text-secondary">
                    {{createdAt}} - 8 min read <span class="favortie-article-heart">&hearts;</span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <img src="./images/pcImage.jpg">
    </div>
</div>

<div class="row d-flex py-3"></div>

<div class="row d-flex">
    <div class="col-8">
        <p class="post-title-text">
            {{Post Title}}
        </p>
        <p class="text-secondary post-secondary-text">
            {{Post Opener}}
        </p>
        <div class="row d-flex">
            <div class="col-10">
                <p class="author-category-text">
                    {{Author}} in {{Category}}
                </p>
                <p class="post-secondary-text text-secondary">
                    {{createdAt}} - 8 min read <span class="favortie-article-heart">&hearts;</span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <img src="./images/pcImage.jpg">
    </div>
</div>

<div class="row d-flex py-3"></div>


{{footer}}
