{{>head}}
<header class="header">
  <div>
  <a href='/login' class="logout" style='vertical-align:sub'>Login</a>
  <a href='/register' class="logout" style='vertical-align:sub'>Register</a>
  </div>    
</header>













<!--SCRIPTS-->

{{>footer}}
