<!doctype html>
<html>
    {{> head}}
    {{> navbar}}
    <body>
        <div class="container">
            <form method="POST" action="/login">
                <input type="text" name="email" placeholder="Email" />
                <input type="password" name="password" placeholder="Password" />
                <button>Login</button>
            </form>
        </div>
    {{>footer}}
    </body>
</html>
