<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {{#post}}
      <h2>{{title}}</h2>
      <p>{{body}}</p>
      <p>{{createdAt}}</p>
      <form action="/post/addFavourite" method="post">
        <input type="hidden" name="post_id" value="{{id}}">
        <button>Add Favourite</button>
      </form>
    {{/post}}
    <form action="/post/addComment" method="post">
      <input type="hidden" name="user_id" value="1">
      <input type="hidden" name="post_id" value="{{post.id}}">
      <textarea name="body" rows="8" cols="40"></textarea><br>
      <button>Add Comment</button>
    </form>
    <ul>
    {{#comments}}
    Comments
    <li>
      <h3>{{title}}</h3>
      <p>{{body}}</p>
      <p>{{createdAt}}</p>
      <form action="/post/updateComment" method="post">
        <input type="hidden" name="comment_id" value="{{id}}">
        <input type="hidden" name="user_id" value="1">
        <textarea name="body" rows="8" cols="40"></textarea><br>
        <button>Update Comment</button>
      </form>
      <form action="/post/deleteComment" method="post">
        <input type="hidden" name="comment_id" value="{{id}}">
        <button>Delete Comment</button>
      </form>
    </li>
    {{/comments}}
    {{^comments}}
    <li>This Post Has No Comments</li>
    {{/comments}}
    </ul>
  </body>
</html>
