{{> head}}
<header class="header">
        <div id="header-reg-div">
        <a href='/'><b>WellDone</b></a> 
        </div>    
</header>

<div class="row d-flex justify-content-center py-3">
    <div class="col-9">
        <h1 class="text-light">First time here? <span id="join-welldone-text">Join Welldone</span></h1>
        <p>
            Create an account to receive great stories in your inbox, personalize your homepage, and follow authors and topics that you love.
        </p>
        <form method="POST" action="/register">
            <input class="reg-textboxes" type="text" name="email" placeholder="Email address" />
            <input class="reg-textboxes" type="text" name="name" placeholder="Full name" />
            <input class="reg-textboxes" type="password" name="password" placeholder="Password" />
            <input class="reg-textboxes" type="password" name="confirmPassword" placeholder="Confirm password" />
            <button id="login-account-button">Submit</button>
        </form>    
    </div>
</div>

{{>footer}}

