*{
  margin:0;
  padding:0;
}
body{
  background-color: rgba(166, 176, 219, 0.623);
  font-family:sans-serif;
  overflow: hidden;
}
::-webkit-scrollbar{
  -webkit-appearance: none;
 width:0;
}
::-webkit-scrollbar-thumb:horizontal{
  border-radius: 10px;
  border: 3.5px solid transparent;
  background-color: rgba(0,0,0,0.5);
  background-clip: content-box;
  
}
/* ////////////////////////////////////////////////////////////////// */
@media only screen and (min-width: 768px){
 
  /* div.carousel{
    width: 80%;
    margin:auto;
    overflow: auto;
    border: .3rem solid rgba(20, 19, 19, 0.418);
    border-radius: 30px 5px 30px 5px;
    margin-top: 1rem;
  }
div ul{
 display:flex;
 justify-content: space-between;
 list-style: none;
 width:70rem;
 font-size: 1.5rem;
 padding-top:1rem;
}
div ul li span{
  display: inline-block;
  margin: 0 2rem;
}
div ul li span a{
  color:whitesmoke;
}
div ul li span a:hover{
  text-decoration: none;
  color:black;
} */
.navbar-nav{
  margin: 155px auto 0 auto;
  overflow: scroll;
  width: 50vw;
  display: flex;
  border: .25rem solid rgba(36, 34, 34, 0.61);
  border-radius: 15px 5px 15px 5px; 
 
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-left:1rem;
}
.navbar-collapse ul li{
  border: none;
}

header{
  box-shadow: 0px 3px 10px rgba(53, 49, 49, 0.3);
  position: sticky;
  top: 0px;
  background-color:rgba(56, 63, 68, 0.521);
}
nav{
  height: 75px;
  margin:auto;
  width:90%;
  display:flex;
  align-items: center;
  justify-content: space-between;
}
nav {
 font-size: 1.1rem;
 vertical-align: sub;
 list-style:none;
 /* display: flex; */
 /* justify-content: space-between; */
}
nav b{
  font-size: 1.8rem;
}
nav {
  list-style:none;
  /* display: flex; */
  /* justify-content: space-between; */
}
nav a{
  color:black;
  text-decoration: none;
}
nav i{
  color:rgba(0, 0, 0, 0.705);
  font-size: 1rem;
}
}
/* /////////////////////////////////////////////////////////////// */
@media only screen and (max-width: 768px){
  body{
    overflow: hidden;
    height:100vh;
  }
 .navbar-collapse{
   margin-top:2rem;
   overflow: auto;
   height: 80vh;
   margin-bottom: 15px;
 }
 .navbar-collapse ul li{
   border-bottom: 2px solid rgba(68, 64, 64, 0.466);
   padding: 1rem;
   text-align: center;
 }

  header{
    box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
    position: sticky;
    top: 0px;
    background-color: rgba(56, 63, 68, 0.521);
  }
  .navbar{
    padding:16px;
  }
  nav{
    height: 72px;
    margin:auto;
    /* width:90%; */
    display:flex;
    align-items: center;
    justify-content: space-between;
  }
  nav {
   font-size: 1.1rem;
   vertical-align: sub;
   list-style:none;
    display: flex;
    justify-content: space-between;
  }
  nav b{
    font-size: 1.8rem;
  }
  nav {
    list-style:none;
    display: flex;
    justify-content: space-between;
  }
  nav a{
    color:black;
    text-decoration: none;
    padding-left:15px;
  }
  nav i{
    color: rgba(0, 0, 0, 0.705);
    font-size: 1rem;
    padding-right: 20px;
  }
}
/* ///////////////////////////////////////////////////////////////// */
@media only screen and (max-height:670px){
  nav{
    height: 60px;
    margin:auto;
    width:90%;
    display:flex;
    align-items: center;
    justify-content: space-between;
  }
}
/* ////////////////////////////////////////////////////////////////// */
@media only screen and (max-height:600px){
  nav{
    height: 50px;
    margin:auto;
    width:90%;
    display:flex;
    align-items: center;
    justify-content: space-between;
  }

}
