
/* carousel code */
.abreast .carousel-inner {
overflow-x: auto;
white-space: nowrap;
}
.abreast .item {
display: inline-block;
margin: 6px 4px 0 0;
}

.abreast .carousel-control, 
.abreast .carousel-indicators {
display: none;
}

.carousel-inner img {
height: auto;
margin: 0 auto;
max-width: 100%;
}
/*end carousel code*/

header{
  z-index: 2;
  background-color: black;
}
ul.navbar-nav{
  background-color:rgb(65,65,65) ;
<<<<<<< HEAD
  width:70vw;
=======
>>>>>>> 7b36a8b3b1cbc8f5ab217bd8faff9d34e505680e
  margin:140px 0 0 0;
}


@media only screen and (min-width: 768px){



}

@media only screen and (max-width: 768px){



}

@media only screen and (max-height:670px){




}

@media only screen and (max-height:600px){



}