
/************************************************* CAROUSEL CODE *************************************************/
.abreast .carousel-inner {
overflow-x: auto;
white-space: nowrap;
margin:0;
}
.abreast .item {
display: inline-block;
margin: 6px 4px 0 0;
}

.abreast .carousel-control, 
.abreast .carousel-indicators {
display: none;
}

/************************************************* HOME PAGE *************************************************/

.popular-posts {
    text-align: center;
}

.popular-title-text {
    font-size: medium;
}

#popular-column {
    margin: 0 10px;
}

#desktop-container-outer-space {
    max-width: 1100px;
    border: 1px solid gray;
    padding: 0px;
}

/************************************************* CATEGORY PAGE *************************************************/
#articles-category {
    text-align: center;
}

/************************************************* ARTICLE PAGE *************************************************/
#article-secondary-text {
    font-size: 1.2rem;
}

#article-image {
    width: 30rem;
}

/************************************************* LOGIN PAGE *************************************************/
#login-button {
    color: rgba(255, 215, 189, 0.9);
    border: 1px solid rgba(255, 215, 189, 0.9);
    padding: 0.3rem;
    background: none;
}

#login-button-div {
    text-align: end;
}

.login-textboxes {
    margin-bottom: 1rem;
}

#no-account-text {
    font-size: small;
    margin-top: 0.6rem;
}

#create-one-link-text {
    color: rgba(255, 215, 189, 0.9);
}

#join-welldone-text {
    color: rgba(255, 215, 189, 0.9);
}

#login-form {
    text-align: end;
}

/*************************************************  *************************************************/

.nav-button {
transition: all .2s ease-in-out;
color:red;
}
.nav-button:hover {
transform: scale(1.2);
color: rgb(172, 15, 15);
}

header{
  z-index: 2;
  background-color: rgb(65, 65, 65);
  height: 3.5rem;
}

ul.navbar-nav{
  background-color:rgb(65,65,65) ;
  margin:140px 0 0 0;
}

header div{
  display:flex;
  width:100%;
  justify-content: space-around;
}

header div a:nth-child(1){
  text-decoration: none;
  font-size: 2rem;
  padding-top:5px;
  padding-right:15vw;
}
header div a:nth-child(1):hover,header div a:nth-child(2):hover,header div a:nth-child(3):hover{
  color:white;
}
header div a:nth-child(2),header div a:nth-child(3){
  padding-top: 18px;
}
.post-image {
    text-align: end;
}
.post-image img{
  width:20rem;
  }
.post-title-text{
  font-size: 1.3rem;
}
.post-secondary-text{
  font-size: .7rem;
}
.author-text{
  font-size: .9rem;
  margin-bottom:.1rem ;
}
.category-text{
  font-size: .9rem;
}
#blog-column{
  margin: 0 75px;
}
/* #navbarTogglerDemo02{
  width:98vw;
}
.navbar-nav{
  width:76.5vw;
} */

.popular-posts {
    text-align: center;
}
.popular-posts img{
  margin-bottom:15px;
}

.popular-title-text {
    font-size: medium;
}

#popular-column {
    margin: 0 10px;
}
a.text-light:hover,a.text-light:focus{
  color:rgba(165, 143, 143) !important
}
#category{
  padding:20px 70px;
  font-size: 30px;
  color:whitesmoke;
}
.heart {
  padding:5px 0 0 10px;
  font-size: 20px;
	color:red;
}

.container-fluid{
  padding:0;
}
img{
  border-radius: 10px;
}
.row{
  margin:0;
}
.col-10{
  padding-left:0;
}

@media only screen and (max-width:1400px){
  .post-image img{
    width:24vw;
    }
}

@media only screen and (max-width: 768px){
   body{
    overflow-y: scroll !important;
  }
  /*
  .container-fluid{
    padding:0
  }
  #blog-column{
    margin: 0 20px;
  }
  .nav-button {
    transition: all .2s ease-in-out;
    text-align:center;
    }
    .nav-button:hover {
    transform: scale(1.5);  
    color: #9E9E9E;
    } */

  #blog-column {
    margin: 0 20px;
  }
  #most-popular {
      display: none !important;  
  }
  .post-image img{
  width:30vw;
  }
p.text-light.post-secondary-text{
  display:none;
}
}
@media only screen and (max-width:590px){
  .post-image img{
    width:40vw;
  }

@media only screen and (max-height:670px){




}

@media only screen and (max-height:600px){



}
}