/************************************************* GLOBAL CODE *************************************************/

@import url('https://fonts.googleapis.com/css?family=Baskervville|Raleway:700&display=swap');


#desktop-container-outer-space {
  max-width: 1100px;
  border: 1px solid gray;
  padding: 0px;
}

input:focus {
  outline: none !important;
}

.container-fluid{
  padding:0;
}

body {
  background-color: rgb(65, 65, 65);
  font-family: sans-serif;
}

p {
  color: #f8f9fa;
}

a {
  color: #f8f9fa;
}

a:hover {
  text-decoration: none;
  color: #f8f9fa;
}

.article-hr {
  width: 80%;
  margin: auto;
  border-top: 1px solid gray;
}

a.text-light:hover,a.text-light:focus {
  color:rgba(165, 143, 143) !important
}

img {
  border-radius: 10px;
}

.row {
  margin:0;
}

.col-10 {
  padding-left:0;
}

#blog-column {
  margin: 0 75px;
}

/************************************************* HEADER CODE *************************************************/

header{
  z-index: 2;
  background-color: rgb(65, 65, 65);
  height: 3.5rem;
}

ul.navbar-nav{
  background-color:rgb(65,65,65) ;
  margin:140px 0 0 0;
}

header div{
  display:flex;
  width:100%;
}

header div a:nth-child(1){
  text-decoration: none;
  font-size: 2rem;
  padding-top:5px;
}

header div a:nth-child(1):hover,header div a:nth-child(2):hover,header div a:nth-child(3):hover{
  color:white;
}

header div a:nth-child(2),header div a:nth-child(3){
  padding-top: 18px;
}

#logout-button {
  color: #f8f9fa;
  background: none;
  border: none;
  margin-top: 1.1rem;
  transition: all .2s ease-in-out;
}

#logout-button:hover {
  color: rgba(255, 215, 189, 0.9);
}

#logout-button:focus {
  outline: none;
}

#account-button {
  color: #f8f9fa;
  background: none;
  border: none;
  font-size: 1rem;
  transition: all .2s ease-in-out;
  margin-top: 0.79rem;
  margin-right: 1.8rem;
}

#aboutus-button {
    color: #f8f9fa;
  background: none;
  border: none;
  font-size: 1rem;
  transition: all .2s ease-in-out;
  margin-top: 0.79rem;
  margin-right: 1.8rem;
  padding-top: 5px !important;
}

#aboutus-button:hover {
    color: rgba(255, 215, 189, 0.9);
}

#account-button:hover {
  color: rgba(255, 215, 189, 0.9);
}

#account-button-account {
  color: #f8f9fa;
  background: none;
  border: none;
  font-size: 1rem;
  transition: all .2s ease-in-out;
}

#sign-out-profile-div {
  justify-content: flex-end;
}

/************************************************* FOOTER *************************************************/

#footer-heart {
  color: red;
  font-size: 20px;
}

#with-love {
  font-family: monospace;
}

#footer {
  text-align: center;
  padding-left: 1rem;
}

.favortie-article-heart {
  font-size: 18px;
  color: red;
}

/************************************************* CAROUSEL CODE *************************************************/
.abreast .carousel-inner {
    overflow-x: auto;
    white-space: nowrap;
    margin:0;
}
.abreast .item {
    display: inline-block;
    margin: 6px 4px 0 0;
}

.abreast .carousel-control,
.abreast .carousel-indicators {
    display: none;
}

.nav-button {
    transition: all .2s ease-in-out;
    color:#f8f9fa;
}

.nav-button:hover {
    transform: scale(1.2);
    color: rgba(255, 215, 189, 0.9);
}

/************************************************* HOME PAGE and CATEGORY PAGE *************************************************/

.popular-posts {
    margin-bottom: 20px;
    text-align: center;
    width: 262px;
    height: 295px;
}

.popular-title-text {
    font-size: medium;
    margin-bottom: 0rem;
}

.num {
  color: rgba(255, 215, 189, 0.9);
}

#popular-column {
    margin: 0 10px;
}

.popular-posts img{
margin-bottom:15px;
width: 200px;
height: 200px;
}

.heart-buttons {
  background: none;
  border: none;
}

.heart {
  padding:5px 0 0 10px;
  font-size: 20px;
  color:red;
  transition: all .2s ease-in-out;
  box-shadow: none;
  outline: none;
  background: none;
  border: none;
}

.heart:focus {
  outline: none;
}

.heart:hover {
  transform: scale(1.2);
}

.post-image {
  text-align: end;
}

.post-image img{
width:20rem;
}

.post-title-text{
font-size: 1.3rem;
}

.post-secondary-text{
font-size: .7rem;
}

.author-text{
font-size: .9rem;
margin-bottom:.1rem ;
}

.category-text{
font-size: .9rem;
}

#articles-category {
    text-align: center;
}

#category{
  padding:20px 70px;
  font-size: 30px;
  color:whitesmoke;
}

.author-category-text {
  font-size: 0.8rem;
}

.datesplit {
  color: #f8f9fa;
  font-size: 0.7rem;
}

/************************************************* ARTICLE PAGE *************************************************/

#article-secondary-text {
    font-size: 1.2rem;
}

#article-image {
    width: 30rem;
}

/* comments */

.comment-textbox {
  background-color: rgba(255, 215, 189, 0.9);
}

#comments-text {
  color: #f8f9fa;
}

#add-comment-button-div {
  text-align: end;
  margin-top: 0.5rem;
}

.comment-buttons-div {
  text-align: start;
}

#add-comment-button {
  color: rgba(255, 215, 189, 0.9);
  border: 1px solid rgba(255, 215, 189, 0.9);
  padding: 0.3rem;
  background: none;
}

.comment-buttons {
  color: rgba(255, 215, 189, 0.9);
  border: 1px solid rgba(255, 215, 189, 0.9);
  padding: 0.3rem;
  background: none;
}

.date-comment {
  font-size: 0.8rem;
}

.username-comment {
  font-size: 0.8rem;
}

.comment-buttons-div-end {
  text-align: end;
  margin-top: 0.5rem;
}

.edit-comment-buttons {
  color: rgba(255, 215, 189, 0.9);
  padding: 0.3rem;
  background: none;
  border: none;
  font-size: 0.7rem;
}

.edit-comment-buttons:focus {
  outline: none
}

.edit-comment {
  display: flex;
}

/************************************************* LOGIN PAGE *************************************************/

#login-button {
    color: rgba(255, 215, 189, 0.9);
    border: 1px solid rgba(255, 215, 189, 0.9);
    padding: 0.3rem;
    background: none;
}

#login-button {
  outline: none;
}

.login-textboxes {
    margin-bottom: 1rem;
}

#no-account-text {
    font-size: small;
    margin-top: 0.6rem;
}

#create-one-link-text {
    color: rgba(255, 215, 189, 0.9);
}

#join-welldone-text {
    color: rgba(255, 215, 189, 0.9);
}

#header-login-div {
  justify-content: start;
  margin-left: 1rem;
}

#create-account-link {
  font-size: large;
  color: rgba(255, 215, 189, 0.9);
  border: 1px solid rgba(255, 215, 189, 0.9);
  padding: 0.3rem;
  background: none;
}

#create-account-link:hover {
  text-decoration: none;
}

/************************************************* REGISTER PAGE *************************************************/

#header-reg-div {
  justify-content: start;
  margin-left: 1rem;
}

#login-account-link {
  color: rgba(255, 215, 189, 0.9);
  border: 1px solid rgba(255, 215, 189, 0.9);
  padding: 0.3rem;
  background: none;
}

#login-account-link:hover {
  text-decoration: none;
}

#login-account-button {
  background: none;
  color: rgba(255, 215, 189, 0.9);
  border: 1px solid rgba(255, 215, 189, 0.9);
  padding: 0.3rem;
  background: none;
}

.reg-textboxes {
  margin-bottom: 1rem;
}

/************************************************* ACCOUNT PAGE *************************************************/

#edit-profile-button {
  color: rgba(255, 215, 189, 0.9);
  border: 1px solid rgba(255, 215, 189, 0.9);
  padding: 0.3rem;
  background: none;
  font-size: 0.7rem;
  margin: 1rem;
}

#tabs-div {
  margin-top: 1rem;
  justify-content: space-evenly;
}

.account-page-tabs {
  transition: all .2s ease-in-out;
  color:#f8f9fa;
  background: none;
  border: none;
}

.account-page-tabs:hover {
  transform: scale(1.2);
  color: rgba(255, 215, 189, 0.9);
}

.username-text {
  color: #f8f9fa;
  margin-top: 0.2rem;
}

#write-post-text {
  font-size: 1.4rem;
}

#remove-favourite-button {
  color: rgba(255, 215, 189, 0.9);
  padding: 0.3rem;
  background: none;
  border: none;
  margin-bottom: 1.3rem;
  font-size: 0.7rem;
}

.delete-post-image-button {
  color: rgba(255, 215, 189, 0.9);
  padding: 0.3rem;
  background: none;
  border: none;
  font-size: 0.7rem;
}

.favourite-articles {
  font-size: 1.3rem;
}

.by-author-text {
  margin-bottom: 0.2rem;
}

.tab-subject-opener {
  margin-bottom: 1.5rem;
}

.your-posts-titles {
  color: #f8f9fa;
  font-size: 2rem;
}

.centered-content-posts {
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.centered-content-posts img {
  width: 70%;
  height: auto;
}

.remove-post-img-form {
  text-align: end;
}

.delete-post-form {
  margin-bottom: 0rem;
}

.delete-post-button {
  color: rgba(255, 215, 189, 0.9);
  border: 1px solid rgba(255, 215, 189, 0.9);
  padding: 0.3rem;
  background: none;
  font-size: 1rem;
  margin: 1rem;
  transition: all .2s ease-in-out;
}

.delete-post-button:hover {
  transform: scale(1.2);
  color: red;
  border: 1px solid red
}

.number-of-comments {
  margin-bottom: 0rem;
  font-size: 0.8rem;
}

#publish-button {
  color: rgba(255, 215, 189, 0.9);
  border: 1px solid rgba(255, 215, 189, 0.9);
  padding: 0.3rem;
  background: none;
  margin-top: 0.3rem;
}

.edit-post-button {
  color: rgba(255, 215, 189, 0.9);
  border: 1px solid rgba(255, 215, 189, 0.9);
  padding: 0.3rem;
  background: none;
  margin-top: 0.3rem;
}

.show-hide-edit-buttons {
  color: rgba(255, 215, 189, 0.9);
  border: 1px solid rgba(255, 215, 189, 0.9);
  padding: 0.3rem;
  background: none;
  font-size: 1rem;
  margin-top: 1rem;
  height: 2.25rem;
}

.edit-tab-tabs {
  margin: 1rem;
  transition: all .2s ease-in-out;
  color:#f8f9fa;
  background: none;
  border: none;
}

.edit-tab-tabs:hover {
  transform: scale(1.2);
  color: rgba(255, 215, 189, 0.9);
}

/************************************************* EDIT PROFILE PAGE *************************************************/

/* .popular-title-text {
    font-size: 1.3rem;
} */

/* a.text-light:hover,a.text-light:focus{
  color:rgba(165, 143, 143) !important */
.choose-file-text {
  color: #f8f9fa;
}

#save-photo-button {
  color: rgba(255, 215, 189, 0.9);
  border: 1px solid rgba(255, 215, 189, 0.9);
  padding: 0.3rem;
  background: none;
  margin-top: 0.3rem;
}

.write-post-textarea-name-text {
  margin-top: 1rem;
  margin-bottom: 0.1rem;
}

#profile-pic-img {
  margin-top: 1rem;
}

.no-content-message {
  font-size: 0.7rem;
}

#update-profile-button {
  color: rgba(255, 215, 189, 0.9);
  border: 1px solid rgba(255, 215, 189, 0.9);
  padding: 0.3rem;
  background: none;
  margin-top: 0.3rem;
}


/*********** ABOUT US ***************/

.spacer {
    height: 5rem;
}

.container {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.about-hero h2 {
    font-family: "Raleway", sans-serif;
    color: white;
    margin: 3rem 0;
    font-size: 4rem;
}

.team {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 80vw;
}

.team-member {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.name-image {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.name-image img {
    width: 15rem;
    margin-bottom: 2rem;
}

.name-image h3 {
    color: white;
    font-family: "Raleway", sans-serif;
}

.bio {
    line-height: 1.5rem;
    font-size: 1.2rem;
    font-family: "Baskerville", serif;
}

/************************************************* MEDIA QUERIES *************************************************/

@media screen and (min-width: 800px) {
    .about-hero h2 {
        margin: 5rem 0;
    }

    .team-member {
        width: 50%;
        padding: 1.5rem;
    }
}



@media only screen and (max-width:1400px){

  .post-image img {
    width:24vw;
  }

}

/*************************************************/

@media only screen and (max-width: 768px){

   body{
      overflow-y: scroll !important;
  }

  #blog-column {
      margin: 0 20px;
  }
  #most-popular {
      display: none !important;
  }
  .post-image img {
      width:30vw;
  }
  p.text-light.post-secondary-text {
      display:none;
  }

}

/*************************************************/

@media only screen and (max-width:590px){

  .post-image img {
      width:40vw;
  }

}

/*************************************************/

@media only screen and (max-height:670px){




}

/*************************************************/

@media only screen and (max-height:600px){




}



/************************************************* FROM STYLES.CSS *************************************************/

.nav-links-mobile {
  padding: 0px;
}

.nav-links-text {
  font-size: 0.8rem;
}

/* ////////////////////////////////////// */
*{
margin:0;
padding:0;
/* box-sizing: border-box; */
}

::-webkit-scrollbar{
-webkit-appearance: none;
width:0;
}
::-webkit-scrollbar-thumb:horizontal{
border-radius: 10px;
border: 3.5px solid transparent;
background-color: rgba(172, 168, 168, 0.863);
background-clip: content-box;
}

/* ////////////////////////////////////////////////////////////////// */
@media only screen and (min-width: 768px){

header{
box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
position: sticky;
top: 0px;
background-color:rgba(65, 65, 65, 0.521);
}
nav{
height: 75px;
margin:auto;
width:90%;
display:flex;
align-items: center;
justify-content: space-between;
font-size: 1.1rem;
vertical-align: sub;
list-style:none;
}
nav b{
font-size: 1.8rem;
color:whitesmoke;
}
nav a{
text-decoration: none !important;
}
nav a.nav-link{
margin:0;
}
nav i{
color:whitesmoke;
font-size: 1rem;
}
}
/* /////////////////////////////////////////////////////////////// */
@media only screen and (max-width: 768px) {

body{
  overflow: hidden;
  height:100vh;
}

.navbar-collapse{
 margin-top:2rem;
 overflow: auto;
 height: 80vh;
 margin-bottom: 15px;
}

.navbar-collapse ul li{
 border-bottom: 2px solid rgba(235, 231, 231, 0.911);
 padding: 1rem;
 text-align: center;
}

header{
  box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
  position: sticky;
  top: 0px;
  background-color: rgba(65, 65, 65, 0.521);
}

.navbar{
  padding:16px;
}

nav{
  height: 72px;
  margin:auto;
  display:flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.1rem;
 vertical-align: sub;
 list-style:none;
}

nav b{
  font-size: 1.8rem;
  color:whitesmoke;
}

nav a{
  color:whitesmoke;
  text-decoration: none !important;
  padding-left:15px;
}

nav a.nav-link{
  margin:0 14rem;
}

nav i{
  color: whitesmoke;
  font-size: 1rem;
  padding-right: 20px;
}

}
/* ///////////////////////////////////////////////////////////////// */
@media only screen and (max-height:670px){
nav{
  height: 60px;
  margin:auto;
  width:90%;
  display:flex;
  align-items: center;
  justify-content: space-between;
}
}
/* ////////////////////////////////////////////////////////////////// */
@media only screen and (max-height:600px){
nav{
  height: 50px;
  margin:auto;
  width:90%;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

}
