
/* ----------------------------- GLOBAL STYLING ----------------------------- */

  #call-to-action-mobile {
    display: none !important;
  }

  #searchbar {
    display: none;
  }

  #welldone-logo {
    font-size: 16px;
  }

  #welldone-letter-logo {
    display: none !important;
  }

  #searchglass {
      opacity: 60%;
      margin-top: 9px;
      height: 17px;
      width: auto;
  }

  #get-started-button {
    border: 1px solid #28a745;
    border-radius: 5px;
    padding: 5px;
    margin-right: 30px;
    display: inline-table;
  }

  .article-hr {
    width: 90%;
  }

  .post-secondary-text {
    font-size: 0.8rem;
  }

  .author-category-text {
    font-size: 0.8rem;
  }

  .bookmark {
    margin-top: 8px;
    padding: 0;
  }

  #footer-heart {
    color: red;
    font-size: 20px;
  }

  #with-love {
    font-family: monospace;
  }

  #footer {
    justify-content: center;
  }

  .favortie-article-heart {
    font-size: 18px;
    color: red;
  }

  .bookmark-icon {
    color: orange;
  }

  .nav-links-mobile {
    padding: 0px;
  }

  /* carousel code */
  .abreast .carousel-inner {
    overflow-x: auto;
    white-space: nowrap;
  }
  .abreast .item {
    display: inline-block;
    margin: 6px 4px 0 0;
  }

  .abreast .carousel-control, 
  .abreast .carousel-indicators {
    display: none;
  }

  .carousel-inner img {
    height: auto;
    margin: 0 auto;
    max-width: 100%;
  }

  .email-line {
    border: none;
    border-bottom: 1px solid #343a40;
    border-radius: unset;
  }

  #email-row-mobile {
    justify-content: space-between;
  }

  #carousel {
    border: 2px solid #f8f9fa;
  }

  #header-margin-top {
    margin-top: 15px;
  }

/* ----------------------------- DESKTOP STYLING ----------------------------- */

@media (min-width: 851px) {



}

  /* ----------------------------- MOBILE STYLING ----------------------------- */

@media (max-width: 850px) {
  #call-to-action-desktop {
    display: none !important;
  }

  #call-to-action-mobile {
    display: flex !important;
  }

  .nav-links-mobile-hidden {
    display: none;
  }

  #welldone-logo {
    display: none !important;
  }

  #welldone-letter-logo {
    display: flex !important;
  }

}